<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>社区交流</title>
    <!-- 引入 Element UI 样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="../js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/element-ui/lib/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script src="../js/utils.js"></script>
    <style>
        .el-menu--inline .el-menu-item {
            background-color: #1b1b1b  !important;
        }

        .el-menu-item:hover,
        .el-submenu__title:hover {
            color: #fff !important;
        }

        .el-submenu__title:hover i {
            color: #fff !important;
        }

        .logo_title{
            margin-left: 5px;
            font-size: 20px;
            transition: all .3s;
        }
        .el-header {
            line-height: 60px;
            display: flex;
            align-items: center;
            /* 垂直居中对齐 */
        }
        .aside_item_title{
            color: #fff;
        }
        .aside_item{
            text-decoration: none;
            padding-left: 20px;
            color: #fff;
        }
        .el-aside {
            color: #333;
        }

        #card_message1 {
            /*background-color: #244235 ;*/
            color: #fff; /* 文本颜色为白色 */
            margin: 20px; /* 添加一些边距，使内容离边框有一定距离 */
            min-height: 100vh;

        }

        #card_message2 {
            /*background-color: #244235 ;*/
            color: #fff; /* 文本颜色为白色 */
            margin: 20px; /* 添加一些边距，使内容离边框有一定距离 */
            min-height: 100vh;

        }

        .el-card{
            /*background-color: #244235 ; !* 与 el-menu 的背景色相同 *!*/
            margin-left: 20px;
            margin-right: 20px;
        }
        .el-main-reply-buttons {

            display: flex;
            gap: 2px; /* 调整按钮之间的间隔 */
        }
        .el-main-reply-buttons .el-button{
            background-color: beige;/* 按钮之间的右边距 */
            color:black;
        }
    </style>
</head>

<body>
<div id="app">
    <div >
        <el-container>
            <el-aside :width="asideWidth" style="min-height: 100vh;background-color:#1b1b1b ">
                <div style="height: 60px;color: white;display: flex;align-items: center;justify-content: center">
                    <span class="logo_title" v-show="!isCollapse">USST</span>
                </div>
                <el-menu :collapse="isCollapse" background-color="#1b1b1b" text-color="rgba(255,255,255,0.65)">
                    <el-submenu>
                        <template slot="title">
                            <i class="el-icon-house"></i>
                            <span class="aside_item_title">首页</span>
                        </template>
                        <el-menu-item>
                            <a href="firstView.html" class="aside_item">综合信息</a>
                        </el-menu-item>
                    </el-submenu>
                    <el-submenu>
                        <template slot="title">
                            <i class="el-icon-s-shop"></i>
                            <span class="aside_item_title">食堂基本信息管理</span>
                        </template>
                        <el-menu-item>
                            <a href="restaurantList.html" class="aside_item">食堂列表</a>
                        </el-menu-item>
                        <el-menu-item>
                            <a href="addRestaurant.html" class="aside_item">新增食堂</a>
                        </el-menu-item>
                    </el-submenu>

                    <el-submenu>
                        <template slot="title">
                            <i class="el-icon-user"></i>
                            <span class="aside_item_title">账号管理</span>
                        </template>
                        <el-menu-item>
                            <a href="restaurantAdminList.html" class="aside_item">食堂管理员列表</a>
                        </el-menu-item>
                        <el-menu-item>
                            <a href="userList.html" class="aside_item">用户列表</a>
                        </el-menu-item>
                    </el-submenu>

                    <el-submenu>

                        <template slot="title">
                            <i class="el-icon-chat-line-round"></i>
                            <span class="aside_item_title">消息管理</span>
                            <el-badge :value="unreadCount1" class="icon" style="margin-left: 15px;">
                                <el-icon-button  icon="el-icon-message"></el-icon-button>
                            </el-badge>
                        </template>
                        <el-menu-item>
                            <a href="reply2.html" class="aside_item">投诉回复</a>
                            <el-badge :value="unreadCount2" class="icon" style="margin-left: 15px;">
                                <el-icon-button  icon="el-icon-message"></el-icon-button>
                            </el-badge>
                        </el-menu-item>
                        <el-menu-item>
                            <a href="reply1.html" class="aside_item">追评我的</a>
                            <el-badge :value="unreadCount3" class="icon" style="margin-left: 15px;">
                                <el-icon-button  icon="el-icon-message"></el-icon-button>
                            </el-badge>
                        </el-menu-item>
                        <el-menu-item>
                            <a href="reply3.html" class="aside_item">点赞我的</a>
                            <el-badge :value="unreadCount4" class="icon" style="margin-left: 15px;">
                                <el-icon-button  icon="el-icon-message"></el-icon-button>
                            </el-badge>
                        </el-menu-item>


                    </el-submenu>

                </el-menu>
            </el-aside>
            <el-container>
                <el-header style="background-color: #953131">
                    <i :class="collapseIcon" style="font-size:26px;color: beige" @click="handleCollapse"></i>
                    <div style="margin-left: 100px">
                        <el-input style="width: 500px" v-model="value" placeholder="请输入内容" prefix-icon="el-icon-search"></el-input>
                    </div>
                    <div class="el-header-buttons" style="display: flex;justify-content: end;margin-left: 200px">
                        <el-button type="primary" style="background-color: #953131;border: #953131" @click="sortByHotness">热门</el-button>
                        <el-button type="primary" style="background-color: #953131;border: #953131" @click="sortByAscending">正序</el-button>
                        <el-button type="primary" style="background-color: #953131;border: #953131" @click="sortByDescending">倒序</el-button>
                    </div>
                </el-header>
                <el-main>
                    <el-card id="card_message1">
                    <div style="margin-bottom: 30px">
                        <div>
                            <!-- 表格 -->
                            <el-table :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)" style="width: 100%">
                                <el-table-column prop="title" label="标题">
                                </el-table-column>
                                <el-table-column prop="name" label="发表人">
                                </el-table-column>
                                <el-table-column prop="publishTime" label="发表时间">
                                </el-table-column>
                                <el-table-column prop="likes" label="点赞数">
                                </el-table-column>
                                <el-table-column label="详情">
                                    <template slot-scope="scope">
                                        <el-button @click="checkDetail(scope.row)" type="primary" plain size="small">详情</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                            <!-- 分页器 -->
                            <div class="block" style="margin-top:15px;">
                                <el-pagination align='center' @size-change="handleSizeChange" @current-change="handleCurrentChange"
                                               :current-page="currentPage"
                                               :page-sizes="[9]"
                                               :page-size="pageSize"
                                               layout="total, sizes, prev, pager, next, jumper"
                                               :total="tableData.length">
                                </el-pagination>
                            </div>
                        </div>
                     <el-dialog :visible.sync="dialogVisible1" size="large" title="帖子详情" style="min-width: 500px">
                             <el-card id="card_message2">
                                 <div>
                                     <h2 style="color:black ">{{currentRow.title}}</h2>
                                     <div>
                                         <span>{{currentRow.name}}</span>
                                     </div>
                                     <div style="width: 200px;height: 200px">
                                         <img :src="currentRow.image" alt="Image" style="width: 100%;height: 100%">
                                     </div>
                                    <div>
                                        <p style="color: black"> {{currentRow.body}}</p>
                                    </div>
                                 </div>
                                 <!-- 其他帖子内容，可以根据需要添加 -->
                                 <el-form style="margin-top: 20px;">
                                     <el-form-item label="评论内容">
                                         <el-input type="textarea" v-model="commentContent" placeholder="请输入评论内容"></el-input>
                                     </el-form-item>
                                     <el-form-item class="el-main-reply-buttons">
                                         <el-button type="primary" @click="submitComment">发表回复</el-button>
                                         <el-button type="primary" icon="el-icon-thumb">
                                             <el-badge :value="currentRow.likes" class="icon" style="margin-left: 15px;">
                                                 <el-icon-button  icon="el-icon-message"></el-icon-button>
                                             </el-badge>
                                         </el-button>

                                     </el-form-item>
                                 </el-form>
                             </el-card>
                             <el-card id="reply">
                                 <div style="display: flex">
                                     <h3 style="color: black">全部回复</h3>
                                 </div>
                             </el-card>
                             <el-card style="margin-left: 20px; margin-right: 20px;">
                                 <div>
                                     <div>
                                         <!-- 表格 -->
                                         <el-table :data="tableData2.slice((currentPage2-1)*pageSize2,currentPage2*pageSize2)" style="width: 100%">

                                             <el-table-column prop="sender" label="发表人">
                                             </el-table-column>
                                             <el-table-column prop="body" label="内容">
                                             </el-table-column>
                                         </el-table>
                                         <!-- 分页器 -->
                                         <div class="block" style="margin-top:15px;">
                                             <el-pagination align='center' @size-change="handleSizeChange2" @current-change="handleCurrentChange2"
                                                            :current-page="currentPage2"
                                                            :page-sizes="[3,6,9]"
                                                            :page-size="pageSize2"
                                                            layout="total, sizes, prev, pager, next, jumper"
                                                            :total="tableData2.length">
                                             </el-pagination>
                                         </div>
                                     </div>

                                 </div>
                             </el-card>

                     </el-dialog>

                    </div>
                    </el-card>
                </el-main>
            </el-container>
        </el-container>

    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data(){
            return{
                unreadCount2:3,
                unreadCount3:4,
                unreadCount4:123123,
                type : "0",
                isCollapse:false,
                asideWidth:'200px',
                collapseIcon:'el-icon-s-fold',
                value:'',
                comment:[
                    {title:'adad',
                        sender:'a',
                        sendTime:'xxx',
                    }
                ],
                tableData: [
                    // {
                    //     title: "开摆开摆",
                    //     sender: "CJ",
                    //     sendTime: "2016-05-02",
                    //     img:"image/hotpot.png",
                    //     text:"不想干了不想干了不想干了不想干了"
                    // },
                //     {
                //         title: "开摆开摆",
                //         sender: "CJ",
                //         sendTime: "2016-05-02",
                //         img:"image/hotpot.png",
                //         text:"不想干了不想干了不想干了不想干了"
                //     },
                //     {
                //         title: "开摆开摆",
                //         sender: "CJ",
                //         sendTime: "2016-05-02",
                //         img:"image/hotpot.png",
                //         text:"不想干了不想干了不想干了不想干了"
                //     },
                //
                ],
                tableData2:[
                    // {
                    //     name: "CJ",
                    //     body:"不想干了不想干了不想干了不想干了"
                    // },
                    // {
                    //     name: "CJ",
                    //     body:"不想干了不想干了不想干了不想干了"
                    // },
                    // {
                    //     name: "CJ",
                    //     body:"Merry Xmas!"
                    // },
                    // {
                    //     name: "CJ",
                    //     body:"Merry Xmas!"
                    // },
                //     {
                //         sender: "CJ",
                //         text:"不想干了不想干了不想干了不想干了"
                //     },
                //     {
                //         sender: "CJ",
                //         text:"xxxxxxxxxxxxxx"
                //     },
                ],
                currentPage: 1, // 当前页码
                total: '', // 总条数
                pageSize: 9,// 每页的数据条数

                currentPage2: 1, // 当前页码
                total2: '', // 总条数
                pageSize2: 9,// 每页的数据条数
                dialogVisible1:false,
                currentRow:{
                    commentId: '',
                    title: "",
                    name: "",
                    publishTime: "",
                    image: "",
                    body: "",
                    likes: '',
                },
                likeCount:8
            }
        },
        mounted() {
            this.getAllComment()
        },
        computed: {
            // 计算分页后的数据
            pagedData() {
                const start = (this.currentPage - 1) * 3;
                const end = start + 3;
                return this.jsonData.slice(start, end);
            },
        },
        watch: {
            // 监听原始数据的变化，当数据变化时，将当前页重置为 1
            jsonData: function () {
                this.currentPage = 1;
            },
        },
        methods:{
            handleFileUpload(event) {
                const file = event.target.files[0];
                var reader = new FileReader();
                const self=this;
                reader.onload = function(e) {
                    var base64String = e.target.result;
                    // console.log(base64String); // 在控制台输出base64字符串
                    self.currentRow.image = uriToB64(base64String)
                };
                reader.readAsDataURL(file);
            },
            getAllComment(){
                fetch('/restaurant/showComments?type=0', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })

                    .then(result => {
                        if (result.flag === '0') {
                            this.$message.success('获取列表成功');
                            result.object.forEach(item => {
                                item.image = b64ToURI(item.image)
                                item.publishTime = timeStampToDateTime(item.publishTime)
                                // console.log(item.image)
                            });
                            this.tableData =result.object;
                            this.total = this.tableData.length;
                        } else {
                            this.$message.error(result.message);
                        }
                    })
                    .catch(error => {
                        this.$message.error('获取列表失败');
                        console.log(error);
                    });
            },
            getAllReply(commentId) {
                axios.get('/restaurant/showReply?commentId=' + commentId)
                    .then(response => {
                        const flag = response.data.flag;
                        const object = response.data.object;
                        if (flag === '1') {
                            this.$message.error("暂无回复")
                            return;
                        }
                        this.tableData2 = object;
                    }).error(error => {
                    this.$message.error('获取列表失败');
                    console.log(error);
                })
            },
            handleCollapse(){
                this.isCollapse=!this.isCollapse
                this.asideWidth=this.isCollapse ? '64px':'200px'
                this.collapseIcon=this.isCollapse ? 'el-icon-s-unfold':'el-icon-s-fold'
            },
            checkDetail(row){
                this.dialogVisible1= 'true';
                this.currentRow=Object.assign({},row);
                const  index=this.tableData.indexOf(row);
                this.getAllReply(this.currentRow.commentId);
            },
            //每页条数改变时触发 选择一页显示多少行
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.currentPage = 1;
                this.pageSize = val;
            },
            //当前页改变时触发 跳转其他页
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
                this.currentPage = val;
            },
            //每页条数改变时触发 选择一页显示多少行
            handleSizeChange2(val) {
                console.log(`每页 ${val} 条`);
                this.currentPage2 = 1;
                this.pageSize = val;
            },
            //当前页改变时触发 跳转其他页
            handleCurrentChange2(val) {
                console.log(`当前页: ${val}`);
                this.currentPage2 = val;
            },
            sortByHotness(){
                fetch('/restaurant/showComments?type=1', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })

                    .then(result => {
                        if (result.flag === '0') {
                            this.$message.success('获取列表成功');
                            result.object.forEach(item => {
                                item.image = b64ToURI(item.image)
                                item.publishTime = timeStampToDateTime(item.publishTime)
                                // console.log(item.image)
                            });
                            this.tableData =result.object;
                            this.total = this.tableData.length;
                        } else {
                            this.$message.error(result.message);
                        }
                    })
                    .catch(error => {
                        this.$message.error('获取列表失败');
                        console.log(error);
                    });
            },
            sortByAscending(){
                fetch('/restaurant/showComments?type=2', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })

                    .then(result => {
                        if (result.flag === '0') {
                            this.$message.success('获取列表成功');
                            result.object.forEach(item => {
                                item.image = b64ToURI(item.image)
                                item.publishTime = timeStampToDateTime(item.publishTime)
                                // console.log(item.image)
                            });
                            this.tableData =result.object;
                            this.total = this.tableData.length;
                        } else {
                            this.$message.error(result.message);
                        }
                    })
                    .catch(error => {
                        this.$message.error('获取列表失败');
                        console.log(error);
                    });
            },
            sortByDescending(){
                fetch('/restaurant/showComments?type=3', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })

                    .then(result => {
                        if (result.flag === '0') {
                            this.$message.success('获取列表成功');
                            result.object.forEach(item => {
                                item.image = b64ToURI(item.image)
                                item.publishTime = timeStampToDateTime(item.publishTime)
                                // console.log(item.image)
                            });
                            this.tableData =result.object;
                            this.total = this.tableData.length;
                        } else {
                            this.$message.error(result.message);
                        }
                    })
                    .catch(error => {
                        this.$message.error('获取列表失败');
                        console.log(error);
                    });
            }
        }

    })
</script>
</body>
</html>