<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>食堂点评交流系统</title>
    <link rel="stylesheet" href="../css/addRestaurant.css">

    <!-- 引入 Element UI 样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-aside  :width="asideWidth" style="min-height: 100vh;background-color:#1b1b1b "  >
            <div style="height: 60px;color: white;display: flex;align-items: center;justify-content: center">
                <span class="logo_title" v-show="!isCollapse">USST</span>
            </div>
            <el-menu :collapse="isCollapse"  background-color="#1b1b1b" text-color="rgba(255,255,255,0.65)">
                <el-submenu>
                    <template slot="title">
                        <i class="el-icon-house"></i>
                        <span class="aside_item_title">首页</span>
                    </template>
                    <el-menu-item >
                        <a href="firstView.html" class="aside_item">综合信息</a>
                    </el-menu-item>
                </el-submenu>
                <el-submenu>
                    <template slot="title">
                        <i class="el-icon-s-shop"></i>
                        <span class="aside_item_title">食堂基本信息管理</span>
                    </template>
                    <el-menu-item  >
                        <a href="restaurantList.html" class="aside_item">食堂列表</a>
                    </el-menu-item>
                    <el-menu-item >
                        <a href="addRestaurant.html" class="aside_item">新增食堂</a>
                    </el-menu-item>
                </el-submenu>

                <el-submenu>
                    <template slot="title">
                        <i class="el-icon-user"></i>
                        <span class="aside_item_title">账号管理</span>
                    </template>
                    <el-menu-item  >
                        <a href="restaurantAdminList.html" class="aside_item">食堂管理员列表</a>
                    </el-menu-item>
                    <el-menu-item >
                        <a href="addRestaurantAdmin.html" class="aside_item">添加食堂管理员</a>
                    </el-menu-item>
                </el-submenu>

                <el-submenu>
                    <template slot="title">
                        <i class="el-icon-star-on"></i>
                        <span class="aside_item_title">评价信息管理</span>
                    </template>
                    <el-menu-item  >
                        <a href="commentList.html" class="aside_item">评价列表</a>
                    </el-menu-item>
                </el-submenu>
                <el-submenu>

                    <template slot="title">
                        <i class="el-icon-chat-line-round"></i>
                        <span class="aside_item_title">交流社区信息管理</span>
                    </template>
                    <el-menu-item  >
                        <a href="communicationList.html" class="aside_item">帖子列表</a>
                    </el-menu-item>
                </el-submenu>

            </el-menu>
        </el-aside>
        <el-container>
            <el-header style="background-color: #953131; display: flex; align-items: center;">
                <i :class="collapseIcon" style="font-size:26px;color: #fff;" @click="handleCollapse"></i>
            </el-header>
            <el-main>
                <el-form :model="restaurant" ref="restaurantForm" label-width="80px" style="padding: 20px;">
                    <el-form-item label="食堂名称" prop="name">
                        <el-input v-model="restaurant.name"></el-input>
                    </el-form-item>
                    <el-form-item label="营业时间" prop="businessHours">
                        <el-input v-model="restaurant.time"></el-input>
                    </el-form-item>
                    <el-form-item label="食堂地址" prop="address">
                        <el-input v-model="restaurant.address"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="addRestaurant">添加</el-button>
                        <el-button @click="resetForm">重置</el-button>
                    </el-form-item>
                </el-form>
            </el-main>
        </el-container>
    </el-container>
</div>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                restaurant: {
                    name: '',
                    time: '',
                    address: ''
                },
                isCollapse: false,
                asideWidth: '200px',
                collapseIcon: 'el-icon-s-fold',
            };
        },
        methods: {
            handleCollapse() {
                this.isCollapse = !this.isCollapse
                this.asideWidth = this.isCollapse ? '64px' : '200px'
                this.collapseIcon = this.isCollapse ? 'el-icon-s-unfold' : 'el-icon-s-fold'
            },
            // addRestaurant() {
            //     this.$refs.restaurantForm.validate(valid => {
            //         if (valid) {
            //             // 判断食堂名称、营业时间和地址是否都填写完全
            //             if (!this.restaurant.name || !this.restaurant.time || !this.restaurant.address) {
            //                 this.$message.error('请填写完整的食堂信息');
            //                 return;
            //             }
            //             // 将表单数据转换为 JSON 格式
            //             const requestData = JSON.stringify(this.restaurant);
            //             // 发送 POST 请求给后端，传递表单数据
            //             axios.post('/restaurant/addRestaurant', requestData, {
            //                 headers: {
            //                     'Content-Type': 'application/json'
            //                 }
            //             })
            //                 .then(response => {
            //                     const flag = response.data.flag;
            //                     if (flag === '0') {
            //                         this.restaurant = {}; // 清空表单数据
            //                         this.$message({
            //                             message: '添加成功',
            //                             type: 'success'
            //                         });
            //                     } else {
            //                         this.$message.error('添加失败：' + response.data.error);
            //                     }
            //                 })
            //                 .catch(error => {
            //                     console.error(error);
            //                     this.$message.error('添加失败：' + error.message);
            //                 });
            //         } else {
            //             this.$message.error('请填写正确的食堂信息');
            //         }
            //     });
            // },
            addRestaurant() {
                this.$refs.restaurantForm.validate(valid => {
                    if (valid) {
                        // 判断食堂名称、营业时间和地址是否都填写完全
                        if (!this.restaurant.name || !this.restaurant.time || !this.restaurant.address) {
                            this.$message.error('请填写完整的食堂信息');
                            return;
                        }
                        // 将表单数据转换为 JSON 格式
                        const requestData = JSON.stringify(this.restaurant);
                        // 发送 POST 请求给后端，传递表单数据
                        fetch('/restaurant/addRestaurant', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: requestData
                        })
                            .then(response => response.json())
                            .then(data => {
                                const flag = data.flag;
                                if (flag === '0') {
                                    this.restaurant = {}; // 清空表单数据
                                    this.$message({
                                        message: '添加成功',
                                        type: 'success'
                                    });
                                } else {
                                    this.$message.error('添加失败：' + data.error);
                                }
                            })
                            .catch(error => {
                                console.error(error);
                                this.$message.error('添加失败：' + error.message);
                            });
                    } else {
                        this.$message.error('请填写正确的食堂信息');
                    }
                });
            },
            resetForm() { //添加重置表单方法
                this.$refs.restaurantForm.resetFields();
            }
        },
    })
</script>
</body>
</html>

