<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>食堂点评交流系统</title>
    <link rel="stylesheet" href="../css/addRestaurant.css">
    <link rel="shortcut icon" href="/restaurant/img/chat.ico"/>

    <!-- 引入 Element UI 样式 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui/lib/theme-chalk/index.css">
    <script src="../js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/element-ui/lib/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script src="../js/utils.js"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-aside  :width="asideWidth" style="min-height: 100vh;background-color:#1b1b1b "  >
            <div style="height: 60px;color: white;display: flex;align-items: center;justify-content: center">
                <span class="logo_title" v-show="!isCollapse">USST</span>
            </div>
            <el-menu :collapse="isCollapse"  background-color="#1b1b1b" text-color="rgba(255,255,255,0.65)">
                <el-submenu>
                    <template slot="title">
                        <i class="el-icon-house"></i>
                        <span class="aside_item_title">首页</span>
                    </template>
                    <el-menu-item >
                        <a href="firstView.html" class="aside_item">综合信息</a>
                    </el-menu-item>
                </el-submenu>
                <el-submenu>
                    <template slot="title">
                        <i class="el-icon-s-shop"></i>
                        <span class="aside_item_title">食堂基本信息管理</span>
                    </template>
                    <el-menu-item  >
                        <a href="restaurantList.html" class="aside_item">食堂列表</a>
                    </el-menu-item>
                    <el-menu-item >
                        <a href="addRestaurant.html" class="aside_item">新增食堂</a>
                    </el-menu-item>
                </el-submenu>

                <el-submenu>
                    <template slot="title">
                        <i class="el-icon-user"></i>
                        <span class="aside_item_title">账号管理</span>
                    </template>
                    <el-menu-item  >
                        <a href="restaurantAdminList.html" class="aside_item">食堂管理员列表</a>
                    </el-menu-item>
                    <el-menu-item>
                        <a href="userList.html" class="aside_item">用户列表</a>
                    </el-menu-item>
                </el-submenu>

                <el-submenu>
                    <template slot="title">
                        <i class="el-icon-star-on"></i>
                        <span class="aside_item_title">评价信息管理</span>
                    </template>
                    <el-menu-item  >
                        <a href="commentList.html" class="aside_item">评价列表</a>
                    </el-menu-item>
                </el-submenu>
                <el-submenu>

                    <template slot="title">
                        <i class="el-icon-chat-line-round"></i>
                        <span class="aside_item_title">交流社区信息管理</span>
                    </template>
                    <el-menu-item  >
                        <a href="communicationList.html" class="aside_item">帖子列表</a>
                    </el-menu-item>
                </el-submenu>

            </el-menu>
        </el-aside>
        <el-container>
            <el-header style="background-color: #953131; display: flex; align-items: center;">
                <i :class="collapseIcon" style="font-size:26px;color: #fff;" @click="handleCollapse"></i>
            </el-header>
            <el-main>
                <el-form :model="restaurant" ref="restaurantForm" label-width="80px" style="padding: 20px;" :rules="rules">
                    <el-form-item label="食堂名称" prop="name">
                        <el-input v-model="restaurant.name"></el-input>
                    </el-form-item>
                    <el-form-item label="食堂地址" prop="location">
                        <el-input v-model="restaurant.location"></el-input>
                    </el-form-item>
                    <el-form-item label="营业时间">
                        <el-time-picker
                                v-model="restaurant.startTime"
                                value-format="HH:mm:ss"
                                :picker-options="{
                                selectableRange: '00:00:00 - 23:59:59'
                              }"
                                placeholder="开始时间">
                        </el-time-picker>
                        <el-time-picker
                                v-model="restaurant.endTime"
                                value-format="HH:mm:ss"
                                :picker-options="{
                                selectableRange: '00:00:00 - 23:59:59'
                              }"
                                placeholder="结束时间">
                        </el-time-picker>
                    </el-form-item>
                    <el-form-item label="描述" prop="description">
                        <el-input v-model="restaurant.description"></el-input>
                    </el-form-item>
                    <el-form-item label="上传图片" prop="image">
                        <div>
                            <input type="file" @change="handleFileUpload" />
                        </div>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="addRestaurant">添加</el-button>
                        <el-button @click="resetForm">重置</el-button>
                    </el-form-item>

                </el-form>
            </el-main>
        </el-container>
    </el-container>
</div>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                restaurant: {
                    name: '',
                    location: '',
                    startTime: '',
                    endTime:'',
                    description: '',
                    image: ''
                },
                isCollapse: false,
                asideWidth: '200px',
                collapseIcon: 'el-icon-s-fold',
                imageUrl: '',
                fileList: [],
                selectedFile: null,
            };
        },
        methods: {
            handleFileUpload(event) {
                const file = event.target.files[0];
                var reader = new FileReader();

                const self=this;
                reader.onload = function(e) {
                    var base64String = e.target.result;
                    self.restaurant.image = uriToB64(base64String);
                    // console.log(base64String); // 在控制台输出base64字符串
                    reader.abort();
                };
                reader.readAsDataURL(file);
            },
            handleCollapse() {
                this.isCollapse = !this.isCollapse
                this.asideWidth = this.isCollapse ? '64px' : '200px'
                this.collapseIcon = this.isCollapse ? 'el-icon-s-unfold' : 'el-icon-s-fold'
            },
            addRestaurant() {
                this.$refs.restaurantForm.validate(valid => {
                    if (valid) {
                        // 判断食堂名称、营业时间和地址是否都填写完全
                        if (!this.restaurant.name || !this.restaurant.location|| !this.restaurant.startTime || !this.restaurant.endTime
                            || !this.restaurant.description) {
                            this.$message.error('请填写完整的食堂信息');
                            return;
                        }
                        // alert(this.restaurant.image)
                        // 将表单数据转换为 JSON 格式
                        const requestData = JSON.stringify(this.restaurant)
                        // 发送 POST 请求给后端，传递表单数据
                        axios.post('/restaurant/addCanteen', requestData, {
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                            .then(response => {
                                const flag = response.data.flag;
                                if (flag === '0') {
                                    this.restaurant = {}; // 清空表单数据
                                    this.$message({
                                        message: '添加成功',
                                        type: 'success'
                                    });
                                } else {
                                    this.$message.error('添加失败：' + response.data.error);
                                }
                            })
                            .catch(error => {
                                console.error(error);
                                this.$message.error('添加失败：' + error.message);
                            });
                    } else {
                        this.$message.error('请填写正确的食堂信息');
                    }
                });
            },
            resetForm() { //添加重置表单方法
                this.$refs.restaurantForm.resetFields();
            }
        },
    })
</script>
</body>
</html>

