<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>食堂点评交流系统</title>
    <link rel="shortcut icon" href="/restaurant/img/chat.ico"/>
    <link rel="stylesheet" href="../css/restaurantAdminList.css">

    <!-- 引入 Element UI 样式 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui/lib/theme-chalk/index.css">
    <script src="../js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/element-ui/lib/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
</head>
<body>


<div id="app">
    <el-container>
        <el-aside :width="asideWidth" style="min-height: 100vh;background-color:#1b1b1b ">
            <div style="height: 60px;color: white;display: flex;align-items: center;justify-content: center">
                <span class="logo_title" v-show="!isCollapse">USST</span>
            </div>
            <el-menu :collapse="isCollapse" background-color="#1b1b1b" text-color="rgba(255,255,255,0.65)">
                <el-submenu>
                    <template slot="title">
                        <i class="el-icon-house"></i>
                        <span class="aside_item_title">首页</span>
                    </template>
                    <el-menu-item>
                        <a href="firstView.html" class="aside_item">综合信息</a>
                    </el-menu-item>
                </el-submenu>
                <el-submenu>
                    <template slot="title">
                        <i class="el-icon-s-shop"></i>
                        <span class="aside_item_title">食堂基本信息管理</span>
                    </template>
                    <el-menu-item>
                        <a href="restaurantList.html" class="aside_item">食堂列表</a>
                    </el-menu-item>
                    <el-menu-item>
                        <a href="addRestaurant.html" class="aside_item">新增食堂</a>
                    </el-menu-item>
                </el-submenu>

                <el-submenu>
                    <template slot="title">
                        <i class="el-icon-user"></i>
                        <span class="aside_item_title">账号管理</span>
                    </template>
                    <el-menu-item>
                        <a href="restaurantAdminList.html" class="aside_item">食堂管理员列表</a>
                    </el-menu-item>
                    <el-menu-item>
                        <a href="userList.html" class="aside_item">用户列表</a>
                    </el-menu-item>
                </el-submenu>

                <el-submenu>
                    <template slot="title">
                        <i class="el-icon-star-on"></i>
                        <span class="aside_item_title">评价信息管理</span>
                    </template>
                    <el-menu-item>
                        <a href="commentList.html" class="aside_item">评价列表</a>
                    </el-menu-item>
                </el-submenu>
                <el-submenu>

                    <template slot="title">
                        <i class="el-icon-chat-line-round"></i>
                        <span class="aside_item_title">交流社区信息管理</span>
                    </template>
                    <el-menu-item>
                        <a href="communicationList.html" class="aside_item">帖子列表</a>
                    </el-menu-item>
                </el-submenu>

            </el-menu>
        </el-aside>
        <el-container>
            <el-header style="background-color: #953131">
                <i :class="collapseIcon" style="font-size:26px;color: #fff;" @click="handleCollapse"></i>
            </el-header>
            <el-main>
                <el-form :inline="true" :model="formInline" class="demo-form-inline">
                    <el-form-item label="工号" style="margin-right: 40px;">
                        <el-input v-model="formInline.canteenAdminId" placeholder="工号"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit">查询</el-button>
                    </el-form-item>
                </el-form>

                <el-table :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)" border style="width: 100%">
                    <el-table-column prop="canteenAdminId" label="工号" width="300">
                    </el-table-column>
                    <el-table-column prop="canteenId" label="食堂ID" width="300">
                    </el-table-column>
                    <el-table-column prop="username" label="姓名" width="300">
                    </el-table-column>
                    <el-table-column prop="password" label="密码" width="300">
                    </el-table-column>
                    <el-table-column fixed="right" label="操作" width="200">
                        <template slot-scope="scope">
                            <el-button @click="handleDelete(scope.row)" type="text" size="small">删除</el-button>
                            <el-button @click="handleEdit(scope.row)" type="text" size="small">编辑</el-button>
                        </template>
                    </el-table-column>
                </el-table>

                <div class="block">
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                                   :current-page="currentPage" :page-sizes="[3,6,9]" :page-size="pageSize"
                                   layout="total, sizes, prev, pager, next, jumper" :total="total">
                    </el-pagination>
                </div>

                <!-- 添加的 el-dialog 组件 -->
                <el-dialog title="编辑" :visible.sync="dialogVisible">
                    <!-- 编辑表单的内容 -->
                    <el-form :model="currentRow" label-position="top">
                        <!-- 表单项 -->
                        <el-form-item label="工号">
                            <el-input v-model="currentRow.canteenAdminId"></el-input>
                        </el-form-item>
                        <el-form-item label="食堂ID">
                            <el-input v-model="currentRow.canteenId"></el-input>
                        </el-form-item>
                        <el-form-item label="姓名">
                            <el-input v-model="currentRow.username"></el-input>
                        </el-form-item>
                        <el-form-item label="密码">
                            <el-input v-model="currentRow.password"></el-input>
                        </el-form-item>
                        <el-button @click="saveEdit" type="primary">保存</el-button>
                        <el-button @click="dialogVisible = false">取消</el-button>
                    </el-form>
                </el-dialog>
            </el-main>
        </el-container>
    </el-container>
</div>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                isCollapse: false,
                asideWidth: '200px',
                collapseIcon: 'el-icon-s-fold',
                formInline: {
                    canteenAdminId: '',
                },
                tableData: [

                ],
                currentPage: 1,
                dialogVisible: false, // 控制对话框的显示和隐藏
                currentRow: {
                    canteenAdminId: '',
                    canteenId:'',
                    username: '',
                    password: '',
                }, // 当前选中行的数据
                pageSize: 6, // 每页显示条数
                total: 0 // 总条数
            };
        },
        mounted() {
            this.getAllCanteenAdmin()
        },
        methods: {
            getAllCanteenAdmin(){
                axios.get('/restaurant/showAllCanteenAdmin')
                    .then(response => {
                        if (response.data.flag === '0') {
                            this.$message.success('获取列表成功');
                            this.tableData = response.data.object;
                            this.total = this.tableData.length;
                        } else {
                            this.$message.error(response.data.message);
                        }
                    })
                    .catch(error => {
                        this.$message.error('获取列表失败');
                        console.log(error);
                    });
            },
            handleCollapse() {
                this.isCollapse = !this.isCollapse
                this.asideWidth = this.isCollapse ? '64px' : '200px'
                this.collapseIcon = this.isCollapse ? 'el-icon-s-unfold' : 'el-icon-s-fold'
            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.currentPage=1;
                this.pageSize=val;
            },
            handleCurrentChange(val) {
                this.currentPage=val;
                console.log(`当前页: ${val}`);
            },
            onSubmit() {
                const canteenAdminId = this.formInline.canteenAdminId;
                if (canteenAdminId === '') {
                    this.$message.warning('请输入工号');
                    return;
                }
                axios.get(`/restaurant/showCanteenAdminById?canteenAdminId=`+canteenAdminId)
                    .then(response => {
                        if (response.data.object !== '') {
                            this.tableData =[response.data.object];
                            this.$message.success('查询成功');
                         } else {
                            this.$message.error("查询失败");
                         }
                    })
                    .catch(error => {
                        this.$message.error("查询失败");
                        console.log(error);
                    });
            },
            handleDelete(row) {
                const index = this.tableData.indexOf(row);
                const canteenAdminId=this.tableData[index].canteenAdminId;
                if (canteenAdminId !== -1) {
                    this.$confirm('确定要删除此管理员吗?', '警告', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.get(`/restaurant/deleteCanteenAdminById?canteenAdminId=`+canteenAdminId)
                            .then(response => {
                                this.tableData.splice(index, 1);
                                this.$message.success('删除成功');
                            })
                            .catch(error => {
                                console.log(error);
                                this.$message.error('删除失败，请重试');
                            });
                    }).catch(() => {
                        // 用户点击取消按钮的操作
                    });
                }
            },
            handleEdit(row) {
                this.currentRow = Object.assign({}, row); // 复制当前行数据，避免直接修改原数据
                this.dialogVisible = true; // 显示编辑对话框
            },
            saveEdit() {
                // 处理编辑后的数据保存逻辑
                axios.post(`/restaurant/updateCanteenAdmin`, JSON.stringify(this.currentRow), {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => {
                        if (response.data.flag === '0') {
                            // const newData = response.data.object;
                            // alert(newData);
                            this.dialogVisible = false; // 关闭编辑对话框
                            this.$message.success('保存成功');
                            this.getAllCanteenAdmin();
                        }
                    })
                    .catch(error => {
                        this.$message.error('保存失败');
                        console.log(error);
                    });
            }

        },
    })
</script>
</body>
</html>
