<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>食堂点评交流系统</title>
    <link rel="shortcut icon" href="/restaurant/img/chat.ico"/>
    <link rel="stylesheet" href="../css/restaurantAdminList.css">

    <!-- 引入 Element UI 样式 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui/lib/theme-chalk/index.css">
    <script src="../js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/element-ui/lib/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
</head>
<body>


<div id="app">
    <el-container>
        <el-aside :width="asideWidth" style="min-height: 100vh;background-color:#1b1b1b ">
            <div style="height: 60px;color: white;display: flex;align-items: center;justify-content: center">
                <span class="logo_title" v-show="!isCollapse">USST</span>
            </div>
            <el-menu :collapse="isCollapse" background-color="#1b1b1b" text-color="rgba(255,255,255,0.65)">
                <el-submenu>
                    <template slot="title">
                        <i class="el-icon-house"></i>
                        <span class="aside_item_title">首页</span>
                    </template>
                    <el-menu-item>
                        <a href="firstView.html" class="aside_item">综合信息</a>
                    </el-menu-item>
                </el-submenu>
                <el-submenu>
                    <template slot="title">
                        <i class="el-icon-s-shop"></i>
                        <span class="aside_item_title">食堂基本信息管理</span>
                    </template>
                    <el-menu-item>
                        <a href="restaurantList.html" class="aside_item">食堂列表</a>
                    </el-menu-item>
                    <el-menu-item>
                        <a href="addRestaurant.html" class="aside_item">新增食堂</a>
                    </el-menu-item>
                </el-submenu>

                <el-submenu>
                    <template slot="title">
                        <i class="el-icon-user"></i>
                        <span class="aside_item_title">账号管理</span>
                    </template>
                    <el-menu-item>
                        <a href="restaurantAdminList.html" class="aside_item">食堂管理员列表</a>
                    </el-menu-item>
                    <el-menu-item>
                        <a href="userList.html" class="aside_item">用户列表</a>
                    </el-menu-item>
                </el-submenu>

                <el-submenu>
                    <template slot="title">
                        <i class="el-icon-star-on"></i>
                        <span class="aside_item_title">评价信息管理</span>
                    </template>
                    <el-menu-item>
                        <a href="commentList.html" class="aside_item">评价列表</a>
                    </el-menu-item>
                </el-submenu>
                <el-submenu>

                    <template slot="title">
                        <i class="el-icon-chat-line-round"></i>
                        <span class="aside_item_title">交流社区信息管理</span>
                    </template>
                    <el-menu-item>
                        <a href="communicationList.html" class="aside_item">帖子列表</a>
                    </el-menu-item>
                </el-submenu>

            </el-menu>
        </el-aside>
        <el-container>
            <el-header style="background-color: #953131">
                <i :class="collapseIcon" style="font-size:26px;color: #fff;" @click="handleCollapse"></i>
            </el-header>
            <el-main>
                <el-form :inline="true" :model="formInline" class="demo-form-inline">
                    <el-form-item label="学号/工号" style="margin-right: 40px;">
                        <el-input v-model="formInline.id" placeholder="学号/工号"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit">查询</el-button>
                    </el-form-item>
                </el-form>

                <!-- 投诉 -->
                <el-table :data="tableData" border style="width: 100%">
                    <el-table-column prop="userId" label="学号/工号" width="250">
                    </el-table-column>
                    <el-table-column prop="username" label="姓名" width="200">
                    </el-table-column>
                    <el-table-column prop="password" label="密码" width="200">
                    </el-table-column>
                    <el-table-column prop="experience" label="经验值" width="100">
                    </el-table-column>
<!--                    <el-table-column prop="forbidden" label="封禁" width="100">-->
<!--                    </el-table-column>-->
                    <el-table-column prop="illegality" label="张三指数" width="100">
                    </el-table-column>
                    <el-table-column fixed="right" label="操作" width="300">
                        <template slot-scope="scope">
                            <el-button @click="handleDelete(scope.row)" type="text" size="small">删除</el-button>
                            <el-button @click="handleEdit(scope.row)" type="text" size="small">编辑</el-button>
                            <el-button @click="appointAdmin(scope.row)" type="text" size="small">委任为食堂管理员</el-button>
                        </template>
                    </el-table-column>
                </el-table>

                <div class="block">
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                                   :current-page="currentPage" :page-sizes="[6]" :page-size="pageSize"
                                   layout="total, sizes, prev, pager, next, jumper" :total="total">
                    </el-pagination>
                </div>

                <!-- 添加的 el-dialog 组件 -->
                <el-dialog title="编辑" :visible.sync="dialogVisible">
                    <!-- 编辑表单的内容 -->
                    <el-form :model="currentRow" label-position="top">
                        <!-- 表单项 -->
                        <el-form-item label="工号">
                            <el-input v-model="currentRow.userId"></el-input>
                        </el-form-item>
                        <el-form-item label="姓名">
                            <el-input v-model="currentRow.username"></el-input>
                        </el-form-item>
                        <el-form-item label="密码">
                            <el-input v-model="currentRow.password"></el-input>
                        </el-form-item>
                        <el-form-item label="经验值">
                            <el-input v-model="currentRow.experience"></el-input>
                        </el-form-item>
<!--                        <el-form-item label="封禁">-->
<!--                            <el-input v-model="currentRow.forbidden"></el-input>-->
<!--                        </el-form-item>-->
                        <el-form-item label="张三指数">
                            <el-input v-model="currentRow.illegality"></el-input>
                        </el-form-item>
                        <el-button @click="saveEdit" type="primary">保存</el-button>
                        <el-button @click="dialogVisible = false">取消</el-button>
                    </el-form>
                </el-dialog>

                <el-dialog title="委任为食堂管理员" :visible.sync="adminDialogVisible">
                <el-form ref="form" :model="formData" :rules="rules" label-width="120px">
                    <el-form-item label="学号/工号">
                        <el-input v-model="formData.userId"></el-input>
                    </el-form-item>
                    <el-form-item label="食堂名称">
                        <el-select v-model="formData.canteenName" placeholder="请选择食堂名称">
                            <el-option v-for="canteen in canteens" :key="canteen.id" :label="canteen.name" :value="canteen.name"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm">确定</el-button>
                        <el-button @click="adminDialogVisible= false">取消</el-button>
                    </el-form-item>
                </el-form>
                </el-dialog>
            </el-main>
        </el-container>
    </el-container>
</div>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                isCollapse: false,
                asideWidth: '200px',
                collapseIcon: 'el-icon-s-fold',
                formInline: {
                    id: '',
                },
                tableData: [

                ],
                currentPage: 1,
                dialogVisible: false, // 控制对话框的显示和隐藏
                adminDialogVisible: false, // 控制表单的显示与隐藏
                currentRow: {
                    userId: '',
                    username: '',
                    password: '',
                    experience: '',
                    isForbidden:true,
                    forbidden:true,
                    illegality:''
                }, // 当前选中行的数据
                formData:{
                    userId: '',
                    canteenName:'', // 存储选择的餐厅名称
                },
                pageSize: 6, // 每页显示条数
                total: 0 ,// 总条数
                canteens:[],// 存储餐厅信息
                rules: {
                    userId: [
                        { required: true, message: '请输入UserId', trigger: 'blur' }
                    ],
                    canteenName: [
                        { required: true, message: '请选择食堂名称', trigger: 'change' }
                    ]
                }
            };
        },
        mounted() {
            this.getAllUser();
            this.getAllCanteenName()
        },
        methods: {
            getAllUser(){
                axios.get('/restaurant/showAllUser')
                    .then(response => {
                        if (response.data.flag === '0') {
                            this.$message.success('获取列表成功');
                            this.tableData = response.data.object;
                            this.total = this.tableData.length;
                        } else {
                            this.$message.error(response.data.message);
                        }
                    })
                    .catch(error => {
                        this.$message.error('获取列表失败');
                        console.log(error);
                    });
            },
            getAllCanteenName() {
                axios.get('/restaurant/GetCanteen')
                    .then(response => {
                        if (response.data.flag === '0') {
                            this.canteens = response.data.object;
                        } else {
                            this.$message.error(response.data.message);
                        }
                    })
                    .catch(error => {
                        this.$message.error('获取列表失败');
                        console.log(error);
                    });
            },
            handleCollapse() {
                this.isCollapse = !this.isCollapse
                this.asideWidth = this.isCollapse ? '64px' : '200px'
                this.collapseIcon = this.isCollapse ? 'el-icon-s-unfold' : 'el-icon-s-fold'
            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                this.currentPage=val
                console.log(`当前页: ${val}`);
            },
            onSubmit() {
                const id = this.formInline.id;
                if (id === '') {
                    this.$message.warning('请输入工号');
                    return;
                }
                axios.get(`/restaurant/showUserById?id=`+id)
                    .then(response => {
                        if (response.data.object !== '') {
                            this.tableData =[response.data.object];
                            this.$message.success('查询成功');
                        } else {
                            this.$message.error("查询失败");
                        }
                    })
                    .catch(error => {
                        this.$message.error("查询失败");
                        console.log(error);
                    });
            },
            handleDelete(row) {
                const index = this.tableData.indexOf(row);
                const id = this.tableData[index].userId;
                if (id !== -1) {
                    this.$confirm('确定要删除此管理员吗?', '警告', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.get(`/restaurant/deleteUser?id=` + id)
                            .then(response => {
                                this.tableData.splice(index, 1);
                                this.$message.success('删除成功');
                            })
                            .catch(error => {
                                console.log(error);
                                this.$message.error('删除失败，请重试');
                            });
                    }).catch(() => {
                        // 用户点击取消按钮的操作
                    });
                }
            },
            handleEdit(row) {
                this.currentRow = Object.assign({}, row); // 复制当前行数据，避免直接修改原数据
                this.dialogVisible = true; // 显示编辑对话框
            },
            saveEdit() {
                // 处理编辑后的数据保存逻辑
                this.currentRow.isForbidden = this.currentRow.forbidden;
                axios.post(`/restaurant/updateUser`, JSON.stringify(this.currentRow), {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => {
                        if (response.data.flag === '0') {
                            // const newData = response.data.object;
                            // alert(newData);
                            this.dialogVisible = false; // 关闭编辑对话框
                            this.$message.success('保存成功');
                            this.getAllUser();
                        }
                    })
                    .catch(error => {
                        this.$message.error('保存失败');
                        console.log(error);
                    });
            },
            appointAdmin(row){
                this.formData.userId = Object.assign({}, row).userId; // 复制当前行数据，避免直接修改原数据
                this.adminDialogVisible= true // 显示表单
            },
            submitForm() {
                alert(this.formData.userId);
                alert(this.formData.canteenName);
                axios.post(`/restaurant/setCanteenAdmin`, JSON.stringify({id:this.formData.userId,canteenName:this.formData.canteenName}), {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => {
                        if (response.data.flag === '0') {
                            this.$message.success('委任成功');
                            this.adminDialogVisible = false; // 关闭编辑对话框
                        } else {
                            this.$message.error('委任失败，请重试');
                        }
                    })
                    .catch(error => {
                        console.log(error);
                        this.$message.error('委任失败，请重试');
                    });
            }
        },
    })
</script>
</body>
</html>