<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>食堂点评交流系统</title>
    <link rel="stylesheet" href="../css/addRestaurant.css">

    <!-- 引入 Element UI 样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
        .aside_item {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            color: unset;
        }

        .image-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

        .image-uploader .el-upload:hover {
            border-color: #409EFF;
        }

        .image-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }

        .image {
            width: 178px;
            height: 178px;
            display: block;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container style="height: 700px; border: 1px solid #eee">
        <el-header style="background: #34b0cb;display: flex; align-items: center; justify-content: space-between; padding: 0 20px;">
            <div style="font-size: 24px; color: #fff;">上海理工大学食堂点评交流系统</div>
        </el-header>
        <el-container>
            <el-aside width="220px" style="height: 700px; border: 1px solid #eee">
                <el-menu :default-openeds="['1']">
                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-house"></i>
                            <span>首页</span>
                        </template>
                        <el-menu-item index="1-1">
                            <a href="first.html" class="aside_item">首页</a>
                        </el-menu-item>
                    </el-submenu>
                    <el-submenu index="2">
                        <template slot="title">
                            <i class="el-icon-s-shop"></i>
                            <span>食堂基本信息管理</span>
                        </template>
                        <el-menu-item index="2-1">
                            <a href="modifyRestaurant.html" class="aside_item">编辑食堂信息</a>
                        </el-menu-item>
                    </el-submenu>
                    <el-submenu index="3">
                        <template slot="title">
                            <i class="el-icon-shopping-cart-1"></i>
                            <span>菜品管理</span>
                        </template>
                        <el-menu-item index="3-1">
                            <a href="dishList.html" class="aside_item">菜品信息列表</a>
                        </el-menu-item>
                        <el-menu-item index="3-2">
                            <a href="addDish.html" class="aside_item">添加菜品信息</a>
                        </el-menu-item>
                    </el-submenu>
                    <el-submenu index="4">
                        <template slot="title">
                            <i class="el-icon-star-on"></i>
                            <span>评价信息管理</span>
                        </template>
                        <el-menu-item index="4-1">
                            <a href="commentList.html" class="aside_item">评价列表</a>
                        </el-menu-item>
                        <el-menu-item index="4-2">
                            <a href="reportList.html" class="aside_item">投诉列表</a>
                        </el-menu-item>
                    </el-submenu>
                    <el-submenu index="5">
                        <template slot="title">
                            <i class="el-icon-chat-line-round"></i>
                            <span>活动公告</span>
                        </template>
                        <el-menu-item index="5-1">
                            <a href="/restaurant/restaurantAdmin/announcement.html" class="aside_item">公告列表</a>
                        </el-menu-item>
                        <el-menu-item index="5-2">
                            <a href="/restaurant/restaurantAdmin/addAnnouncement.html" class="aside_item">发布公告</a>
                        </el-menu-item>
                    </el-submenu>
                    <el-submenu index="6">
                        <template slot="title">
                            <i class="el-icon-star-on"></i>
                            <span>投票管理</span>
                        </template>
                        <el-menu-item index="6-1">
                            <a href="addVote.html" class="aside_item">发起投票</a>
                        </el-menu-item>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-main>
                <el-form :model="dish" ref="dishForm" label-width="80px" style="padding: 20px;">
                    <el-form-item label="菜品名称" prop="dishName">
                        <el-input v-model="dish.dishName"></el-input>
                    </el-form-item>
                    <el-form-item label="系列" prop="series">
                        <el-select v-model="dish.series">
                            <el-option v-for="(item, index) in seriesOptions" :label="item"
                                       :value="index"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="价格" prop="price">
                        <el-input type="number" v-model="dish.price"></el-input>
                    </el-form-item>
                    <el-form-item label="图片" prop="image">
                        <el-upload
                                action=""
                                class="image-uploader"
                                accept="image/*"
                                :limit="1"
                                :auto-upload="true"
                                :show-file-list="false"
                                :on-change="onUploadSuccess"
                        >
                            <img v-if="dish.image" :src="'data:image/png;base64,' + dish.image"
                                 class="image">
                            <i v-else class="el-icon-plus image-uploader-icon"></i>
                        </el-upload>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="addDish">添加菜品</el-button>
                        <el-button @click="resetForm">重置表单</el-button>
                    </el-form-item>
                </el-form>
            </el-main>
        </el-container>
    </el-container>
</div>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                dish: {
                    dishName: '',
                    series: '',
                    price: '',
                    image: ''
                },
                seriesOptions: ['鲁菜', '川菜', '粤菜', '江苏菜', '闽菜', '浙江菜', '湘菜', '徽菜', '清真餐', '日本餐', '西餐', '其他']
            };
        },
        methods: {
            fileToBase64(file) {
                return new Promise((resolve, reject) => {
                    const reader = new FileReader();
                    reader.onloadend = () => {
                        if (reader.error) {
                            reject(reader.error);
                        } else {
                            resolve(reader.result);
                        }
                    };
                    reader.readAsDataURL(file);
                });
            },
            onUploadSuccess(response, file, fileList) {
                this.fileToBase64(response.raw).then(base64 => {
                    this.dish.image = base64.replace(/^data:image\/\w+;base64,/, '');
                })
            },
            addDish() {
                this.$refs.dishForm.validate(valid => {
                    if (valid) {
                        // 将表单数据转换为 JSON 格式
                        const requestData = JSON.stringify(this.dish);
                        // 发送 POST 请求给后端，传递表单数据
                        axios.post('/restaurant/UploadDish', requestData, {
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                            .then(response => {
                                const flag = response.data.flag;
                                if (flag === '0') {
                                    this.dish = {}; // 清空表单数据
                                    this.$message({
                                        message: '添加成功',
                                        type: 'success'
                                    });
                                } else {
                                    this.$message.error('添加失败：' + response.data.error);
                                }
                            })
                            .catch(error => {
                                console.error(error);
                                this.$message.error('添加失败：' + error.message);
                            });
                    } else {
                        this.$message.error('请填写正确的菜品信息');
                    }
                });
            },
            resetForm() {
                this.$refs.dishForm.resetFields();
            }
        },
    })
</script>
</body>
</html>