<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>食堂点评交流系统</title>
  <link rel="stylesheet" href="../css/commentList.css">

  <!-- 引入 Element UI 样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <style>
    .aside_item {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      color: unset;
    }
  </style>
</head>
<body>
<div id="app">
  <el-container style="height: 700px; border: 1px solid #eee">
    <el-header style="display: flex; align-items: center; justify-content: space-between; padding: 0 20px;">
      <div style="font-size: 24px; color: #fff;">上海理工大学食堂点评交流系统</div>
    </el-header>
    <el-container>
      <el-aside width="250px" style="height: 700px; border: 1px solid #eee">
        <el-menu :default-openeds="['5']">
          <el-submenu index="1">
            <template slot="title">
              <i class="el-icon-house"></i>
              <span>首页</span>
            </template>
            <el-menu-item index="1-1">
              <a href="first.html" class="aside_item">首页</a>
            </el-menu-item>
          </el-submenu>
          <el-submenu index="2">
            <template slot="title">
              <i class="el-icon-s-shop"></i>
              <span>食堂基本信息管理</span>
            </template>
            <el-menu-item index="2-1">
              <a href="modifyRestaurant.html" class="aside_item">编辑食堂信息</a>
            </el-menu-item>
          </el-submenu>
          <el-submenu index="3">
            <template slot="title">
              <i class="el-icon-shopping-cart-1"></i>
              <span>菜品管理</span>
            </template>
            <el-menu-item index="3-1">
              <a href="dishList.html" class="aside_item">菜品信息列表</a>
            </el-menu-item>
            <el-menu-item index="3-2">
              <a href="addDish.html" class="aside_item">添加菜品信息</a>
            </el-menu-item>
          </el-submenu>
          <el-submenu index="4">
            <template slot="title">
              <i class="el-icon-star-on"></i>
              <span>评价信息管理</span>
            </template>
            <el-menu-item index="4-1">
              <a href="commentList.html" class="aside_item">评价列表</a>
            </el-menu-item>
            <el-menu-item index="4-2">
              <a href="reportList.html" class="aside_item">投诉列表</a>
            </el-menu-item>
          </el-submenu>
          <el-submenu index="5">
            <template slot="title">
              <i class="el-icon-chat-line-round"></i>
              <span>活动公告</span>
            </template>
            <el-menu-item index="5-1">
              <a href="communicationList.html" class="aside_item">公告列表</a>
            </el-menu-item>
            <el-menu-item index="5-2">
              <a href="communicationList.html" class="aside_item">发布公告</a>
            </el-menu-item>
          </el-submenu>
          <el-submenu index="6">
            <template slot="title">
              <i class="el-icon-star-on"></i>
              <span>投票管理</span>
            </template>
            <el-menu-item index="6-1">
              <a href="addVote.html" class="aside_item">发起透明</a>
            </el-menu-item>
          </el-submenu>
        </el-menu>
      </el-aside>

      <el-main>

        <el-table :data="tableData" border style="width: 100%">
          <el-table-column prop="title" label="标题" >
          </el-table-column>
          <el-table-column prop="body" label="内容" >
          </el-table-column>
          <el-table-column fixed="right" label="操作" >
            <template slot-scope="scope">
              <el-button @click="handleEdit(scope.row)" type="text" size="small">回复</el-button>
            </template>
          </el-table-column>
        </el-table>

        <el-dialog title="回复" :visible.sync="dialogVisible">
          <!-- 编辑表单的内容 -->
          <el-form :model="currentRow" label-position="top">
            <el-form-item label="标题">
              <el-input v-model="currentRow.title"></el-input>
            </el-form-item>
            <el-form-item label="内容">
              <el-input v-model="currentRow.body"></el-input>
            </el-form-item>
            <el-button @click="saveEdit" type="primary">保存</el-button>
          </el-form>
        </el-dialog>
      </el-main>
    </el-container>
  </el-container>
</div>
<script>
  new Vue({
    el: '#app',
    data: function () {
      return {
        tableData: [

        ],
        currentPage: 1,
        dialogVisible: false, // 控制对话框的显示和隐藏
        currentRow: {
          dishCommentId:'',
          title:'',
          body:'',
        }, // 当前选中行的数据
      };
    },
    mounted() {
      axios.get('/restaurant/GetCanteenAnnouncement')
              .then(response => {
                this.tableData = response.data.object;
              })
              .catch(error => {
                console.log(error);
                this.$message.error('获取数据失败，请重试');
              });
    },
    methods: {
      handleEdit(row) {
        this.currentRow.dishCommentId = row.dishCommentId; // 复制当前行数据，避免直接修改原数据
        this.dialogVisible = true; // 显示编辑对话框
      },
      saveEdit() {
        // 处理编辑后的数据保存逻辑
        axios.post(`/restaurant/UploadDishCommentReply`, JSON.stringify(this.currentRow), {
          headers: {
            'Content-Type': 'application/json'
          }
        })
                .then(response => {
                  this.dialogVisible = false; // 关闭编辑对话框
                  this.message.success('回复成功');
                })
                .catch(error => {
                  console.log(error);
                  this.message.error('保存失败，请重试');
                });
      }
    },
  })
</script>
</body>
</html>