#app{
    background-color: #fff;
}
.logo_title{
    margin-left: 5px;
    font-size: 20px;
    transition: all .3s;
}
.el-header {
    line-height: 60px;
    display: flex;
    align-items: center;
    /* 垂直居中对齐 */
}
.aside_item_title{
    color: #fff;
}
.aside_item{
    text-decoration: none;
    padding-left: 20px;
    color: #fff;
}
.el-aside {
    color: #333;
}
.el-main {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}

.upload-demo .el-upload__tip {
    line-height: 1.5;
    margin-top: 10px;
    color: #666;
    display: inline-block;
}

.upload-demo .preview-image {
    max-width: 100%;
    max-height: 300px;
    margin-top: 10px;
}

.upload {
    display: flex;
    align-items: center;
}


