#app{
    background-color: #fff;
}
.info{
    margin-top: 60px;
    padding: 20px;
}
.wrapper{
    margin-top: 120px;
    background-color: #953131;
}
.inner{
    text-align: center;
    padding: 10px;
    margin: 20px;
}
.inner p{
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
}

.el-header {
    line-height: 60px;
    display: flex;
    align-items: center;
    /* 垂直居中对齐 */
}
.aside_item_title{
    color: #fff;
}
.aside_item{
    text-decoration: none;
    padding-left: 20px;
    color: #fff;
}
.el-aside {
    color: #333;
}
