#app{
    background-color: #fff;
}
.logo_title{
    margin-left: 5px;
    font-size: 20px;
    transition: all .3s;
}
.el-header {
    line-height: 60px;
    display: flex;
    align-items: center;
    /* 垂直居中对齐 */
}
.aside_item_title{
    color: #fff;
}
.aside_item{
    text-decoration: none;
    padding-left: 20px;
    color: #fff;
}
.el-aside {
    color: #333;
}
.el-main {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}

