<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.restaurant.restaurant.mapper.CanteenMapper">
    <select id="selectAll" resultType="com.restaurant.restaurant.pojo.entity.Canteen">
        SELECT * FROM `Restaurant`.canteen;
    </select>
    <select id="selectById" resultType="com.restaurant.restaurant.pojo.entity.Canteen">
        SELECT * FROM `Restaurant`.canteen
        WHERE canteen_id = #{id};
    </select>
</mapper>