<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.restaurant.restaurant.mapper.CanteenAdminMapper">

    <insert id="insertCanteenAdmin" parameterType="CanteenAdmin">
        INSERT INTO canteen_admin
        VALUES (#{canteenAdminId}, #{canteenId}, #{username}, #{password})
    </insert>

    <select id="selectById" resultType="com.restaurant.restaurant.pojo.entity.CanteenAdmin">
        select * from Restaurant.canteen_admin where canteen_admin_id=#{id};
    </select>

    <select id="selectReplyById" resultType="com.restaurant.restaurant.pojo.entity.Reply">
        select * from Restaurant.reply where canteen_admin_id=#{id};
    </select>
</mapper>