<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间，指表对应Mapper类的位置 -->
<mapper namespace="com.restaurant.restaurant.mapper.CommentMapper">
    <insert id="insertComment" parameterType="Comment">
        INSERT INTO comment (user_id,title, body, image, publish_time,likes)
        VALUES (#{userId}, #{title}, #{body}, #{image}, #{publicTime}, #{likes})
    </insert>

    <select id="selectAll" resultType="com.restaurant.restaurant.pojo.entity.Comment">
        select * from comment;
    </select>

    <select id="selectAllByLikes" resultType="com.restaurant.restaurant.pojo.entity.Comment">
        select * from comment order by likes DESC ;
    </select>

    <select id="selectAllDesc" resultType="com.restaurant.restaurant.pojo.entity.Comment">
        select * from comment order by publish_time DESC ;
    </select>

    <select id="selectAllAsc" resultType="com.restaurant.restaurant.pojo.entity.Comment">
        select * from comment order by publish_time ASC ;
    </select>

    <select id="selectById" resultType="com.restaurant.restaurant.pojo.entity.Comment">
        select comment_id, user_id, title, body,likes from Restaurant.comment where comment_id=#{id};
    </select>

    <select id="selectCommentOrderByLikes" resultType="com.restaurant.restaurant.pojo.entity.Comment">
        select * from comment order by likes DESC ;
    </select>
    <select id="selectCommentIdByUserId" resultType="com.restaurant.restaurant.pojo.entity.ReplyMessage">
        select t.username, body
        from `Restaurant`.reply s,
             `Restaurant`.user t
        where s.comment_id in (select comment_id from `Restaurant`.comment where user_id =#{id})
          and t.user_id = s.user_id
    </select>
    <select id="selectByIdWithFile" resultType="com.restaurant.restaurant.pojo.entity.Comment">
        SELECT * FROM Restaurant.comment WHERE comment_id = #{id};
    </select>


    <update id="updateLikeById" parameterType="Comment">
        update Restaurant.comment set likes =#{likes} where comment_id = #{id}
    </update>

    <update id="updateComment" parameterType="com.restaurant.restaurant.pojo.entity.Comment">
        UPDATE comment
        SET
            title = #{title},
            body = #{body},
            image = #{image},
            publish_time = #{publishTime},
            likes = #{likes}
        WHERE comment_id = #{commentId}
    </update>

    <delete id="deleteCommentById" parameterType="com.restaurant.restaurant.pojo.entity.Comment">
        DELETE FROM comment
        WHERE comment_id = #{id}
    </delete>

</mapper>