<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.restaurant.restaurant.mapper.DishCommentReplyMapper">

    <insert id="insertDishCommentReply">
        INSERT INTO `Restaurant`.dish_comment_reply (dish_comment_id, canteen_admin_id, title, body)
        VALUES (#{dishCommentId}, #{canteenAdminId}, #{title}, #{body});
    </insert>
    <select id="selectByDishCommentId" resultType="com.restaurant.restaurant.pojo.DishCommentReplyShow">
        SELECT dish_comment_reply_id, title, body, username FROM dish_comment_reply, canteen_admin
        WHERE dish_comment_id = #{dishCommentId} AND dish_comment_reply.canteen_admin_id = canteen_admin.canteen_admin_id;
    </select>
</mapper>