<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间，指表对应Mapper类的位置 -->
<mapper namespace="com.restaurant.restaurant.mapper.DishCommentMapper">
    <insert id="insertComment" useGeneratedKeys="true" keyProperty="dishCommentId">
        INSERT INTO dish_comment (user_id, dish_id, score, tittle, body, image)
        VALUES (#{userId}, #{dishId}, #{score}, #{tittle}, #{body}, #{image})
    </insert>


    <select id="selectById" resultType="com.restaurant.restaurant.pojo.entity.DishComment">
        select * from dish_comment where dish_id=1;
    </select>
    <select id="selectAll" resultType="com.restaurant.restaurant.pojo.entity.DishComment">
        select dish_comment_id, user_id, dish_id, score, tittle, body from dish_comment;
    </select>
    <select id="selectByCanteenIdWithFile" resultType="com.restaurant.restaurant.pojo.DishCommentShow">
        SELECT dish_comment_id, username, dish_name, score, tittle, body, dish_comment.image
            FROM `Restaurant`.dish_comment, `Restaurant`.user, `Restaurant`.dish
        WHERE dish_comment.dish_id in (SELECT dish_id FROM `Restaurant`.dish WHERE canteen_id = 1)
            AND dish_comment.user_id = user.user_id AND dish_comment.dish_id = dish.dish_id;
    </select>
    <select id="selectByUserIdWithFile" resultType="com.restaurant.restaurant.pojo.DishCommentShow">
        SELECT dish_comment_id, username, dish_name, score, tittle, body, dish_comment.image
            FROM `Restaurant`.dish_comment, `Restaurant`.user, `Restaurant`.dish
        WHERE dish_comment.user_id = #{userId}
            AND dish_comment.user_id = user.user_id AND dish_comment.dish_id = dish.dish_id;
    </select>
    <select id="selectByDishIdWithFile" resultType="com.restaurant.restaurant.pojo.DishCommentShow">
        SELECT dish_comment_id, username, dish_name, score, tittle, body, dish_comment.image
            FROM `Restaurant`.dish_comment, `Restaurant`.user, `Restaurant`.dish
        WHERE dish_comment.dish_id = #{dishId}
            AND dish_comment.user_id = user.user_id AND dish_comment.dish_id = dish.dish_id;
    </select>

    <delete id="deletedishCommentById" parameterType="com.restaurant.restaurant.pojo.entity.DishComment">
        DELETE FROM dish_comment
        WHERE dish_comment_id = #{id}
    </delete>

    <update id="updateDishComment" parameterType="com.restaurant.restaurant.pojo.entity.DishComment">
        UPDATE dish_comment
        SET
            score = #{score},
            tittle = #{tittle},
            body = #{body},
            image = #{image}
        WHERE dish_comment_id = #{dishCommentId}
    </update>
</mapper>