<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间，指表对应Mapper类的位置 -->
<mapper namespace="com.restaurant.restaurant.mapper.DishCommentMapper">
    <insert id="insertComment">
        INSERT INTO dish_comment (user_id, dish_id, score, tittle, body)
        VALUES (#{userId}, #{dishId}, #{score}, #{tittle}, #{body})
    </insert>


    <select id="selectById" resultType="com.restaurant.restaurant.pojo.entity.DishComment">
        select * from 'Restaurant'.dish_comment where dish_id=#{id};
    </select>
    <select id="selectAll" resultType="com.restaurant.restaurant.pojo.entity.DishComment">
        select dish_comment_id, user_id, dish_id, score, tittle, body from dish_comment;
    </select>
</mapper>