<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.restaurant.restaurant.mapper.RecommendDishMapper">

    <insert id="insertRecommendations">
        INSERT INTO  (canteen_id, dish_id)
        VALUES
        <foreach collection="dishIds" item="dishId" separator=",">
            (#{canteenId}, #{dishId})
        </foreach>
    </insert>
</mapper>