<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.restaurant.restaurant.mapper.RecommendDishMapper">

    <insert id="insertRecommendations">
        INSERT INTO recommend_dish (canteen_id, title, body)
        VALUES
        (#{canteenId}, #{title}, #{body})
    </insert>
    <select id="selectById" resultType="com.restaurant.restaurant.pojo.entity.Dish">
        SELECT * FROM `Restaurant`.dish
        WHERE dish_id = #{id};
    </select>
    <select id="selectBody" resultType="java.lang.String">
        select body from recommend_dish;
    </select>

</mapper>