<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间，指表对应Mapper类的位置 -->
<mapper namespace="com.restaurant.restaurant.mapper.ReplyMapper">


    <select id="selectByCommentId" resultType="com.restaurant.restaurant.pojo.entity.Reply">
        select * from reply where comment_id=#{CommentId};
    </select>

    <insert id="insertUserReply" parameterType="Reply">
        INSERT INTO reply (comment_id,user_id, canteen_admin_id, body)
        VALUES (#{commentId}, #{userId}, null, #{body})
    </insert>

    <insert id="insertAdminReply" parameterType="Reply">
        INSERT INTO reply (comment_id,user_id, canteen_admin_id, body)
        VALUES (#{commentId}, null, #{canteenAdminId}, #{body})
    </insert>
</mapper>