<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间，指表对应Mapper类的位置 -->
<mapper namespace="com.restaurant.restaurant.mapper.ReplyMapper">


    <select id="selectByCommentId" resultType="com.restaurant.restaurant.pojo.entity.Reply">
        select * from reply where comment_id=#{CommentId};
    </select>

    <insert id="insertUserReply" parameterType="Reply">
        INSERT INTO reply (comment_id,user_id, canteen_admin_id, body)
        VALUES (#{commentId}, #{userId}, null, #{body})
    </insert>

    <insert id="insertAdminReply" parameterType="Reply">
        INSERT INTO reply (comment_id,user_id, canteen_admin_id, body)
        VALUES (#{commentId}, null, #{canteenAdminId}, #{body})
    </insert>

    <update id="updateReply" parameterType="com.restaurant.restaurant.pojo.entity.Reply">
        UPDATE reply
        SET
            body = #{body}
        WHERE reply_id = #{replyId}
    </update>

    <delete id="deleteReplyById" parameterType="com.restaurant.restaurant.pojo.entity.Reply">
        DELETE FROM reply
        WHERE reply_id = #{id}
    </delete>

    <select id="selectDetails" resultType="com.restaurant.restaurant.pojo.ReplyMessage">
        SELECT
            u.username AS name,
            c.title AS title,
            r.body AS body
        FROM reply r
                 JOIN comment c ON r.comment_id = c.comment_id
                 JOIN user u ON r.user_id = u.user_id
        WHERE c.user_id = #{userId};
    </select>
</mapper>