<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="full-screen" content="yes">
    <meta content="default" name="apple-mobile-web-app-status-bar-style">
    <meta name="screen-orientation" content="portrait">
    <meta name="browsermode" content="application">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <base target="_blank">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="css/chat.css">
</head>

<body>
<div class="container" id="app">
    <!-- 铃铛图标 -->
    <div class="notification-bell" @click="showNotifications">
        <i class="bell-icon">🔔</i>
    </div>

    <!-- 用户名字列表 -->
    <div class="names-list">
        <ul>
            <li v-for="user in allUserList" :key="user.userId">
                {{ user.username }}
                <button @click.stop="showChat(user)">发送信息</button>
            </li>

        </ul>
    </div>

    <button id="chatToggle" @click="toggleChat">打开聊天框</button>

    <div v-if="isShowChat" class="chat-panel">
        <!-- 聊天头部 -->
        <div class="chat-header">
            <div id="chatMes" v-show="chatMes">
                正在和 <span class="chat-partner-name">{{toName}}</span> 聊天
            </div>
        </div>

        <!-- 聊天主体 -->
        <div class="chat-body">
            <div class="chat-area" id="chatArea" v-show="isShowChat">
                <!-- 聊天消息展示区域 -->
                <div class="chat-messages" id="show">
                    <div class="pnl-list" id="msgs" v-for="message in historyMessage">
                        <!-- 消息展示 -->
                        <div class="msg guest" v-if="message.fromName">
                            <div class="msg-right">
                                <div class="msg-host photo"
                                     style="background-image: url(img/avatar/Member003.jpg)"></div>
                                <div class="msg-ball">{{message.message}}</div>
                            </div>
                        </div>
                        <div class="msg robot" v-else>
                            <div class="msg-left" worker="">
                                <div class="msg-host photo"
                                     style="background-image: url(img/avatar/Member002.jpg)"></div>
                                <div class="msg-ball">{{message.message}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 输入区域 -->
                <div class="chat-input">
                    <textarea id="context_text" @keyup.enter="submit" placeholder="在此输入文字信息..." v-model="sendMessage.message"></textarea>
                    <button class="send-button" id="submit" @click="submit">发送</button>
                </div>
            </div>
        </div>

        <!-- 聊天侧边栏 -->
        <div class="chat-sidebar">
            <div class="friends-list">
                <div class="chat-sidebar">
                    <div class="friends-list">
                        <ul>
                            历史记录<br><br>
                            <li v-for="user in relatedUserList" @click='showChat(user)'>{{ user.username }}在线</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/vue.js"></script>
<script src="js/axios-0.18.0.js"></script>
<script>
    let ws;

    new Vue({
        el: "#app",
        data() {
            return {
                unreadMessages: [], // 存储未读消息
                isShowChat: false,
                allUserList: [], // 存储用户列表
                relatedUserList:[],// 和我通过话的
                selectedUser: null, // 当前选中的用户对象
                chatMes: false,
                isOnline: true,
                username: "",
                userId: "", // 假设您在某处设置了当前登录用户的ID
                toName: "",
                sendMessage: {
                    fromId: "",
                    toName: "",
                    toId: "",
                    message: ""
                },
                inputMessage: "",
                historyMessage: [],
                friendsList: [],
                systemMessages: []
            };
        },
        created() {
            this.fetchAllUserList();
            this.initWebSocket();   //
            // 模拟设置当前用户的ID，实际情况应从登录信息中获取
            this.fetchUserId();
            this.fetchRelatedUserList();
        },
        methods: {
            async fetchUserId(){
                const response = await axios.get('/restaurant/fetchUserId');
                this.userId = response.data;
            },
            async fetchAllUserList() {
                try {
                    const response = await axios.get('/restaurant/fetchPeople');
                    this.allUserList = response.data.object; // 假设后端直接返回用户列表数组
                } catch (error) {
                    console.error('Error fetching user list:', error);
                }
            },
            fetchRelatedUserList(){
                alert(this.userId)
                axios.get('/restaurant/fetchPeople?userId=' + this.userId)
                    .then(response => {
                        this.relatedUserList = response.data.object;
                    })
                    .catch(error => {
                        console.error('Error fetching history messages:', error);
                    });
            },
            initWebSocket() {
                ws = new WebSocket(`ws://localhost:8080/restaurant/chat`);
                ws.onopen = this.onOpen;
                ws.onmessage = this.onMessage;
                ws.onclose = this.onClose;
            },
            toggleChat() {
                this.isShowChat = !this.isShowChat; // 切换聊天框的显示状态
            },
            showNotifications() {
                this.fetchRelatedUserList()
                this.isShowChat = true;
                this.initWebSocket(0)
                // 这里可以处理显示未读消息的逻辑
            },
            showChat(user) {
                this.selectedUser = user;
                if (user.username === undefined){
                    this.toName = user;
                }
                else {
                    this.toName = user.username;
                }
                this.initWebSocket(); // 假设user对象有userId属性
                this.isShowChat = true;
                this.chatMes = true;
                this.fetchHistoryMessages(user.userId);
            },
            fetchHistoryMessages(toId) {
                alert("当前用户" + this.userId + "对方id" + toId)
                axios.get('/restaurant/getOfflineMessages?fromId=' + this.userId + '&toId=' + toId)
                    .then(response => {
                        this.historyMessage = response.data;
                    })
                    .catch(error => {
                        console.error('Error fetching history messages:', error);
                    });
            },
            submit() {
                if(this.selectedUser) {
                    this.sendMessage.fromId = this.userId;
                    this.sendMessage.toId = this.selectedUser.userId;
                    this.sendMessage.toName = this.selectedUser.username;
                    this.$nextTick(() => {
                        this.sendMessage.message = "";
                    });
                    ws.send(JSON.stringify(this.sendMessage));
                    this.sendMessage.message = "";
                    this.fetchHistoryMessages(this.selectedUser.userId)
                }
            },
            onOpen() {
                this.isOnline = true;
            },
            onClose() {
                this.isOnline = false;
            },
            onMessage(evt) {
                const res = JSON.parse(evt.data);
                if(res.system) {
                    // 处理系统消息
                    var names = res.message;
                    this.friendsList = [];
                    this.systemMessages = [];
                    for (let i = 0; i < names.length; i++) {
                        if (names[i] != this.username) {
                            this.friendsList.push(names[i]);
                            this.systemMessages.push(names[i]);
                        }
                    }
                }else {
                    if(res.message === 0 || res.message === null){
                        alert("今夕是何年")
                        this.fetchHistoryMessages(res.fromName);
                    }
                    else {
                        //非系统消息 且双方都在线,存在浏览器的session里,不存数据库里
                        var history = sessionStorage.getItem(res.fromName);
                        // if (!history) {
                        //     this.historyMessage = [res];
                        // } else {
                            this.historyMessage.push(res);
                        // }
                        sessionStorage.setItem(res.fromName, JSON.stringify(this.historyMessage));
                    }
                }
            }
        }
    });
</script>

</body>
</html>