<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="css/register.css">
    <link rel="shortcut icon" href="/restaurant/img/chat.ico"/>
    <!-- 引入 Element UI 样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-aside width="750px">
            <img src="image/aside_image.png" alt="Aside Image" style="width: 750px; height: 700px;">
        </el-aside>
        <el-main>
            <div style="display: flex; align-items: center;">
                <el-image :src="src1" style="width: 50px; height: 50px;"></el-image>
                <span style="font-size: 35px; color: #333;">食堂点评交流系统，欢迎您</span>
            </div><br>
            <form @submit="register">
                <el-input v-model="form.id" placeholder="请输入学号/工号" prefix-icon="el-icon-user"></el-input><br><br>
                <el-input v-model="form.username" placeholder="请输入用户名" prefix-icon="el-icon-user"></el-input><br><br>
                <el-input v-model="form.password" placeholder="请输入密码" show-password
                          prefix-icon="el-icon-lock"></el-input><br><br>
                <el-input v-model="form.repassword" placeholder="请再次输入密码" show-password
                          prefix-icon="el-icon-lock"></el-input><br><br>
                <button type="submit" class="btn">注册</button><br>
                <button type="button" class="btn" @click="backToLogin">已有账号，返回登录界面</button>
            </form>
        </el-main>
    </el-container>
</div>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                form: {
                    id: '',
                    username:'',
                    password: '',
                    repassword:''
                },
                src1: 'image/icon.png',
            };
        },
        mounted() {

        },
        methods: {
            register(event) {
                event.preventDefault(); // 阻止默认的表单提交行为
                if (this.form.id === '') {
                    this.$message({
                        message: '请输入学号/工号',
                        type: 'warning'
                    });
                    this.form.id = '';  // 清空输入框
                    this.form.username='';
                    this.form.password = '';
                    this.form.repassword = '';
                    return;
                }
                if (this.form.username === '') {
                    this.$message({
                        message: '请输入用户名',
                        type: 'warning'
                    });
                    this.form.id = '';  // 清空输入框
                    this.form.username='';
                    this.form.password = '';
                    this.form.repassword = '';
                    return;
                }
                if (this.form.id.length !== 6 && this.form.id.length !== 10) {
                    this.$message({
                        message: '学号/工号格式错误，请输入六位或十位',
                        type: 'warning'
                    });
                    this.form.id = '';  // 清空输入框
                    this.form.username='';
                    this.form.password = '';
                    this.form.repassword = '';
                    return;
                }
                if (this.form.password === '') {
                    this.$message({
                        message: '请输入密码',
                        type: 'warning'
                    });
                    this.form.id = '';  // 清空输入框
                    this.form.username='';
                    this.form.password = '';
                    this.form.repassword = '';
                    return;
                }
                if (this.form.repassword === '') {
                    this.$message({
                        message: '请再次输入密码',
                        type: 'warning'
                    });
                    this.form.id = '';  // 清空输入框
                    this.form.username='';
                    this.form.password = '';
                    this.form.repassword = '';
                    return;
                }
                if (this.form.repassword !== this.form.password) {
                    this.$message({
                        message: '两次密码输入不一致',
                        type: 'warning'
                    });
                    this.form.id = '';  // 清空输入框
                    this.form.username='';
                    this.form.password = '';
                    this.form.repassword = '';
                    return;
                }
                fetch('/restaurant/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(this.form)
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(result => {
                        if (result.flag === '0') {
                            this.$message.success('注册成功');
                            window.location.href = 'login.html';
                        } else {
                            this.$message.error(result.message);
                        }
                    })
                    .catch(error => {
                        this.$message.error('注册失败');
                    });
            },
            backToLogin() {
                window.location.href = 'login.html';
            },
        },
    })
</script>
</body>
</html>